<td rowspan="2" style="background: darkorange;">TBD</td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: rgb(0, 233, 208)"></td>
<td rowspan="2" style="background: rgb(0, 233, 208)"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(0,124,119);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(0,124,119);"></td>
<td rowspan="2" style="background: hotpink;"></td>
<td rowspan="2" style="background: hotpink;"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: gray;"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: gray;"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: gray;"></td>
<td rowspan="2" style="background: hotpink;"></td>
<td rowspan="2" style="background: hotpink;"></td>
<td rowspan="2" style="background: darkorange;">TBD</td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2" style="background: rgb(54,155,148);"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td rowspan="2"></td>