<td></td>
<td></td>
<td></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td></td>
<td></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td></td>
<td></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td></td>
<td style="background: lightgray;"></td>
<td></td>
<td style="background: lightgray;"></td>
<td></td>
<td style="background: lightgray;"></td>
<td style="background: rgb(0, 233, 208)"></td>
<td style="background: rgb(0, 233, 208)"></td>
<td style="background: rgb(0, 233, 208)"></td>
<td style="background: rgb(0, 233, 208)"></td>
<td></td>
<td></td>
<td></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td style="background: rgb(54,155,148);"></td>
<td></td>
<td></td>
<td></td>