<td>Starter</td>
<td>Age</td>
<td>IP's<br/>2017</td>
<td>IP's<br/>2018</td>
<td>GB<br/>2017</td>
<td>GB<br/>2018</td>
<td>wOBA<br/>2017</td>
<td>wOBA<br/>2018</td>
<td>FIP-<br/>2017</td>
<td>FIP-<br/>2018</td>
<td>TLD<br/>2017</td>
<td>TLD<br/>2018</td>
<td>games<br/> 1-15<br/>blue</td>
<td>opp</td>
<td>games<br/>16-30<br/>blue</td>
<td>opp</td>
<td>1-30</td>
<td>opp</td>
<td>games<br/>1-20</td>
<td>opp</td>
<td>games<br/>21-40</td>
<td>opp</td>
<td>games<br/>41-60</td>
<td>opp</td>
<td>1-60</td>
<td>opp</td>
<td>Starter</td>
<td>team<br/>SB's<br/>2017</td>
<td>team<br/>AB's<br/>2017</td>
<td>team<br/>SB's<br/>2018</td>
<td>team<br/>AB's<br/>2018</td>
<td>2016</td>
<td></td>
<td>2017</td>
<td></td>
<td>2018</td>
<td></td>
<td>SO's / AB's 2017</td>
<td></td>
<td>SO's / AB's 2018</td>
<td></td>
<td>BB's / (AB's + BB's) 2017</td>
<td></td>
<td>SO's / (AB's + BB's) 2018</td>
<td></td>
<td>TLD HITTERS<br/>2016</td>
<td>TLD HITTERS<br/>2017</td>
<td>TLD HITTERS<br/>2018</td>
