<table>
<% @teams.each_with_index do |team, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= link_to team.stadium, { controller: 'index', action: 'stadium', id: team.id } %></td>
  </tr>
<% end %>
</table>