<table class="wind">
  <caption><%= caption %></caption>
  <thead>
  	<tr bgcolor="gray">
  	  <th>Wind</th>
      <th>TOTAL RUNS1</th>
      <th>TOTAL RUNS2</th>
      <th>TOTAL COUNT</th>
      <th>TOTAL HITS</th>
      <th>HR'S</th>
  	</tr>
  </thead>
  <tbody>
  </tbody>
</table>