<% content_for :title, 'Filter' %>
<%= form_tag("/team/filter", method: "get") do %>
  <label>Stadium: </label>
  <select name="team_id">
    <% @teams.each do |team| %>
      <option value="<%= team.id %>"><%= team.name %></option>
    <% end %>
  </select>

  <label>Wind Direction: </label>
  <input type="text" name="wind_dir" />

  <label>Wind Speed: </label>
  <input type="number" step="1" name="wind_speed" />

  <label>Baro: </label>
  <input type="number" step="0.01" name="baro" />

  <input type="submit" value="Filter">
<% end %>
<% @games.each do |game| %>
  <div style="border-bottom: 20px solid black;">
    <img style="border-radius: 0;" src="https://s3.amazonaws.com/mlb-daemon/images/<%= game.id %>.png" />
  </div>
<% end %>
