<% content_for :title, @team.name %>
<% @games.each do |game| %>
  <div style="border-bottom: 20px solid black;">
    <img style="border-radius: 0;" src="https://s3.amazonaws.com/mlb-daemon/images/<%= game.id %>.png" />
  </div>
<% end %>
